---
---

@import "colorful.css";

code {
    font-size: 1.1em;
}

/* Codeblock */
.codeblock {
    background: #fcfcfc;
    border: 2px solid #ddd;
    border-left: 4px solid #226699;
    border-radius:  0 10px 10px 0;
    page-break-inside: avoid;
    font-family: monospace;
    line-height: 1.8;
    margin: auto;
    max-width: 80%;
    overflow: auto;
    padding: 0em 2em;
    display: block;
    word-wrap: break-word;
}

:not(pre) > code {
    background: #f3f3f3;
}

pre code {
    font-size: 1.2em;
}

td code {
    background: none;
}