/* Global variables */
:root {
    --home_buttons: #777777;
    --subtitle: #acacac;
    --hl: #d5d5d5;
    --footer_links: #bbbbbb;
    --footer_language: #a1a1a1;
    --home_posts: #226699;
    --desktop_video_width: 600px;
    --mobile_video_width: 360px;
    --video_ratio: 0.5625;
    --home_spacing: 20px;
}

div {
    text-align: justify;
    text-justify: inter-word;
}
div.title {
    border-bottom: 1.2px solid var(--hl);
}

/* Desktop */
@media (min-width: 1000px) {
    body {
        margin: 60px auto;
        width: 60%;
    }
    p {
        font-size: 1.2em;
        line-height: 1.3em;
    }
    h1 {
        font-size: 2.2em;
    }
    h2 {
        font-size: 1.8em;
    }
    h3 {
        font-size: 1.5em;
    }
    h4 {
        font-size: 1.3em;
    }
    h5 {
        margin-top: -25px;
        font-size: 1em;
    }
    small {
        font-size: 0.7em;
    }
    .title h1 {
        margin-top: 0px;
        font-size: 2.5em;
    }
    .title h5 {
        margin-top: -35px;
        font-size: 1.3em;
    }
    nav {
        padding-bottom : 65px;
    }
    nav ul {
        font-size: 1.1em;
    }
    ul.posts li small {
        font-size: .8em;
    }
    ul.posts a {
        font-size: 1.5em;
    }
    li {
        font-size: 1.2em;
        margin: 5px 0;
    }
    .links a {
        font-size: 1em;
    }
    .language li {
        font-size: 1.2em;
        margin-top: 0px;
    }
    iframe {
        max-width: 100%;
        width: var(--desktop_video_width);
        height: calc(var(--desktop_video_width) * var(--video_ratio));
    }
    .bottomname {
        font-size: 1em;
        padding-top: 5px;
    }
}

/* Mobile */
@media only screen and (max-width: 999px) {
    body {
        margin: 10px auto;
        width: 90%;
    }
    p {
        font-size: 1.2em;
        line-height: 1.5em;
    }
    h1 {
        font-size: 1.4em;
    }
    h2 {
        font-size: 1.3em;
    }
    h3 {
        font-size: 1.2em;
    }
    h4 {
        font-size: 1.1em;
    }
    h5 {
        margin-top:-15px;
        font-size: 1em;
    }
    small {
        font-size: 0.7em;
    }
    .title h1 {
        margin-top: 5px;
        font-size: 1.4em;
    }
    .title h5 {
        margin-top:-15px;
        font-size: .9em;
    }
    nav {
        padding-bottom : 45px;
    }
    nav ul {
        font-size: .8em;
    }
    ul.posts li small {
        font-size: .8em;
    }
    ul.posts a {
        font-size: 1.1em;
    }
    li {
        font-size: 1.2em;
        margin: 20px 0;
    }
    .links a {
        font-size: 1em;
    }
    .language li {
        font-size: 1.2em;
        margin-top: 0px;
    }
    iframe {
        max-width: 100%;
        width: var(--mobile_video_width);
        height: calc(var(--mobile_video_width) * var(--video_ratio));
    }
    .bottomname {
        font-size: 0.7em;
        padding-top: 13px;
    }
}


/* Title */
.title h1 {
    color: #123855;
}
.title h5 {
    margin-bottom: var(--home_spacing);
    color: #12385573;
}

/* Hyperlinks */
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* Subtitle, date in posts */
h5, small {
    color: var(--subtitle);
}

/* Navigation bar and footer*/
nav ul {
    font-weight: bold;
}
nav ul, footer ul {
    padding-left: 0px;
    list-style: none;
}
nav ul li, footer ul li {
    display: inline;
}
nav ul li {
    padding-right: var(--home_spacing);
}
nav a {
    text-decoration: none;
    color: var(--home_buttons);
}
nav a:hover {
    text-decoration: none;
}
.floatright {
    float: right;
}
.floatleft {
    float: left;
}
footer {
    border-top: 1.2px solid var(--hl);
}
.bottomname {
    opacity: 0.4;
}

/* Language selector */
.links a {
    float: left;
    color: var(--footer_links);
    margin-right: 5px;
}
.language li {
    float: right;
}
a.it:lang(it), a.en:lang(en) {
    opacity: 0.4;
}

/* Paragraph */
p, h1, h2, h3, h4, h5, small, a, nav ul, footer ul, li {
    font-family: 'Segoe UI', 'SegoeUI', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
}

/* Home posts list */
ul.posts {
    margin: var(--home_spacing) 0;
}
ul.posts li {
    list-style: none;
}
ul.posts a {
    font-weight: bold;
    color: var(--home_posts);
}

/* Responsive images */
.responsive {
    width: 100%;
    height: auto;
}
.responsive:hover {
    cursor: pointer;
}
