/* Global variables */
:root {
    --home_buttons: #777777;
    --subtitle: #acacac;
    --paragraph: #333;
    --hl: #d5d5d5;
    --footer_links: #bbbbbb;
    --footer_language: #a1a1a1;
    --home_posts: #226699;
}

div{
    text-align: justify;
    text-justify: inter-word;
}

/* Desktop */
@media (min-width: 1000px) {
    body {
        margin: 60px auto;
        width: 65%;
    }
    h1 {
        font-size: 2.2em;
    }
    h2 {
        font-size: 1.5em;
    }
    h3 {
        font-size: 1.2em;
    }
    h5 {
        margin-top: -25px;
        font-size: 1em;
    }
    small {
        font-size: 0.7em;
    }
    .title h1
    {
        font-size: 2.5em;
    }
    .title h5
    {
        margin-top: -35px;
        font-size: 1.3em;
    }
    nav {
        padding-bottom : 10px;
    }
    nav ul {
        font-size: 1.3em;
    }
}

/* Mobile */
@media only screen and (max-width: 767px) {
    body {
        margin: 10px auto;
        width: 95%;
    }
    h1 {
        font-size: 1.3em;
    }
    h2 {
        font-size: 1.2em;
    }
    h3 {
        font-size: 1.1em;
    }
    h5 {
        margin-top:-15px;
        font-size: 1em;
    }
    small {
        font-size: 0.7em;
    }
    .title h1
    {
        font-size: 1.4em;
    }
    .title h5
    {
        margin-top:-15px;
        font-size: .9em;
    }
    nav {
        padding-bottom : 5px;
    }
    nav ul {
        font-size: 1em;
    }
}

/* Hyperlinks */
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* Subtitle, date in posts */
h5, small {
    color: var(--subtitle);;
}

/* Navigation bar and footer*/
nav ul {
    font-weight: bold;
}
nav ul, footer ul {
    padding: 0px;
    list-style: none;
}
nav ul li, footer ul li {
    display: inline;
}
nav ul li{
    padding-right: 20px;
}
nav a {
    text-decoration: none;
    color: var(--home_buttons);
}
nav a:hover {
    text-decoration: none;
}
nav ul div.floatright {
    float: right;
}
nav ul div.floatleft {
    float: left;
}
.links a{
    float: left;
    color: var(--footer_links);
    margin-right: 5px;
    font-size: 1em;
    margin-top: 7px;
}
.language li{
    float: right;
    font-size: 1.5em;
    margin-top: 5px;
}
a.en:lang(it){
    color: var(--footer_language);
}
a.it:lang(en){
    color: var(--footer_language);
}
a.en:lang(en){
    display: none;
}
a.it:lang(it){
    display: none;
}
footer {
    border-top: 1.2px solid var(--hl);
}
div.title {
    border-bottom: 1.2px solid var(--hl);
}

/* Paragraph */
p {
    font-size: 1.2em;
    line-height: 1.2em;
    color: var(--paragraph);
}
p, h1, h2, h3, h4, h5, small, nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

/* Home posts list */
ul.posts {
    margin: 20px auto 30px;
    font-size: 1.4em;
}
ul.posts li {
    list-style: none;
}
ul.posts a{
    font-family:'Helvetica', 'Sans-Serif';
    font-weight: bold;
    color: var(--home_posts);
}

/* Responsive images */
.responsive {
    width: 100%;
    height: auto;
}
.responsive:hover
{
    cursor: pointer;
}
