---
---

@import "code.css";
@import "table.css";

/* Variables */
$home_buttons: #777777;
$subtitle: #acacac;
$hl: #d5d5d5;
$footer_links: #bbbbbb;
$footer_language: #a1a1a1;
$home_posts: #226699;
$desktop_video_width: 650px;
$mobile_video_width: 360px;
$video_ratio: 0.5625;
$home_spacing: 20px;

/* Desktop */
@media (min-width: 1000px) {
    body {
        margin: 60px auto;
        width: 60%;
        max-width: 90%;
    }
    p {
        font-size: 1.2em;
    }
    table {
        font-size: 1.1em;
    }
    p, code{
        line-height: 1.4em;
    }
    h1 {
        font-size: 2.2em;
    }
    h2 {
        font-size: 1.8em;
    }
    h3 {
        font-size: 1.5em;
    }
    h4 {
        font-size: 1.3em;
    }
    h5 {
        margin-top: -25px;
        font-size: 1em;
    }
    small {
        font-size: 0.7em;
    }
    .title h1 {
        margin-top: 0px;
        font-size: 2.2em;
    }
    .title h5 {
        margin-top: -25px;
        font-size: 1.3em;
    }
    nav {
        padding-bottom : 65px;
    }
    nav ul {
        font-size: 1.1em;
    }
    ul.posts li small {
        font-size: .8em;
    }
    ul.posts a {
        font-size: 1.5em;
    }
    li {
        font-size: 1.2em;
        margin: 5px 0;
    }
    ul li{
        line-height: 1.4em;
    }
    .footnotes {
        font-size: 0.6em;
    }
    .links a {
        font-size: 1em;
    }
    .language li {
        font-size: 1.2em;
        margin-top: 0px;
    }
    .video_container {
        max-width: 100%;
        width: $desktop_video_width;
        height: $desktop_video_width * $video_ratio;
    }
    .bottomname {
        font-size: 1em;
        padding-top: 5px;
    }
}

/* Mobile */
@media only screen and (max-width: 999px) {
    body {
        margin: 10px auto;
        width: 90%;
    }
    p {
        font-size: 1.1em;
    }
    table {
        font-size: 1.1em;
    }
    p, code {
        line-height: 1.5em;
    }
    h1 {
        font-size: 1.4em;
    }
    h2 {
        font-size: 1.3em;
    }
    h3 {
        font-size: 1.2em;
    }
    h4 {
        font-size: 1.1em;
    }
    h5 {
        margin-top:-15px;
        font-size: 1em;
    }
    small {
        font-size: 0.7em;
    }
    .title h1 {
        margin-top: 5px;
        font-size: 1.3em;
    }
    .title h5 {
        margin-top:-15px;
        font-size: .9em;
    }
    nav {
        padding-bottom : 45px;
    }
    nav ul {
        font-size: .8em;
    }
    ul li{
        line-height: 1.5em;
    }
    ul.posts li small {
        font-size: .8em;
    }
    ul.posts a {
        font-size: 1.1em;
    }
    .posts li {
        font-size: 1.2em;
        margin: 5px 0;
    }
    .footnotes {
        font-size: 0.6em;
    }
    .links a {
        font-size: 1em;
    }
    .language li {
        font-size: 1.2em;
        margin-top: 0px;
    }
    .video_container {
        max-width: 100%;
        width: $mobile_video_width;
        height: $mobile_video_width * $video_ratio;
    }
    .bottomname {
        font-size: 0.7em;
        padding-top: 13px;
    }
}


/* Paragraph and font family */

p, h1, h2, h3, h4, h5, small, a, nav ul, footer ul, li, th, td {
    font-family: 'Segoe UI', 'SegoeUI', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
}

div {
    text-align: justify;
    text-justify: inter-word;
}
div.title {
    border-bottom: 2.0px solid $hl;
}

figcaption p {
    font-size: 1.2em;
}

/* Title */
.title h1 {
    color: #123855;
    white-space: nowrap;
}
.title a:hover {
    text-decoration: none;
}
.title h5 {
    margin-bottom: $home_spacing;
    color: #12385573;
}

/* Hyperlinks */
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* Quoteblock */
blockquote {
    padding: 5px 50px ;
    background: #fafafa;
    position: relative;
    border-radius: 10px;
    border-color: rgb(136, 136, 136);
    p {
        font-size: 1.5em;
        text-align: center;
        font-family: cursive;
    }
}

/* Subtitle, date in posts */
h5, small {
    color: $subtitle;
}

/* Navigation bar and footer*/
nav ul {
    font-weight: bold;
    li {
        padding-right: $home_spacing;
    }
}

nav ul, footer ul {
    padding-left: 0px;
    list-style: none;
    li {
        display: inline;
    }
}

ul li {
    font-size: 1.2em;
    ul li {
        font-size: 1em;
    }
}

nav a {
    text-decoration: none;
    color: $home_buttons;
}
nav a:hover {
    text-decoration: none;
}
.floatright {
    float: right;
}
.floatleft {
    float: left;
}

div.footnotes  {
    border-top: 1.2px solid $hl;
}

.footnotes {
    color: #555555;
}

footer {
    border-top: 1.2px solid $hl;
}
.bottomname {
    opacity: 0.4;
}

/* Language selector */
.links a {
    float: left;
    color: $footer_links;
    margin-right: 7px;
}
.language li {
    float: right;
}
a.it:lang(it), a.en:lang(en) {
    opacity: 0.4;
}

.icon {
    opacity: 0.3;
}

/* Home posts list */
ul.posts {
    margin: $home_spacing 0;
}
ul.posts li {
    list-style: none;
}
ul.posts a {
    font-weight: bold;
    color: $home_posts;
}

/* Responsive images */
.responsive {
    width: 100%;
    height: auto;
}
.responsive:hover {
    cursor: pointer;
}

/* Sup/sub line height fix */
sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}
sub {
    top: 0.4em;
}