---
---

@import "code.css";
@import "table.css";

/* Variables */
$home_links: #226699;
$subtitle: #acacac;
$hl: #d5d5d5;
$footer_links: #bbbbbb;
$footer_language: #a1a1a1;
$desktop_video_width: 650px;
$mobile_video_width: 360px;
$video_ratio: 0.5625;
$home_vertical_spacing: 10px;

/* Desktop */
@media (min-width: 1000px) {
    body {
        margin: 60px auto;
        width: 60%;
        max-width: 90%;
    }
    p, ul li {
        font-size: 1.2em;
    }
    table {
        font-size: 1.1em;
    }
    p, code, ul li{
        line-height: 1.4em;
    }
    h1 {
        font-size: 2.2em;
    }
    h2 {
        font-size: 1.8em;
    }
    h3, .centerbigtext {
        font-size: 1.5em;
    }
    h4 {
        font-size: 1.3em;
    }
    .container > h5:nth-child(2) {
        margin-top: -25px;
        font-size: 1em;
    }
    small {
        font-size: 0.7em;
    }
    .title h1 {
        margin-top: 0px;
        font-size: 2.2em;
    }
    .title h5 {
        margin-top: -25px;
        font-size: 1.3em;
    }
    nav ul {
        font-size: 1.1em;
    }
    ul.posts {
        padding-left: 25px;
    }
    ul.posts li {
        small { font-size: .8em;  }
        a     { font-size: 1.5em; }
        padding-bottom: 5px;
    }
    .footnotes {
        font-size: 0.6em;
    }
    .links a {
        font-size: 1em;
    }
    .language {
        font-size: 1.2em;
        margin-top: 0px;
    }
    .video_container {
        max-width: 100%;
        width: $desktop_video_width;
        height: $desktop_video_width * $video_ratio;
    }
    .bottomname {
        font-size: 1em;
        padding-top: 5px;
    }
}

/* Mobile */
@media only screen and (max-width: 999px) {
    body {
        margin: 10px auto;
        width: 90%;
    }
    p, ul li, .centerbigtext {
        font-size: 1.1em;
    }
    table {
        font-size: 1.1em;
    }
    p, code, ul li {
        line-height: 1.5em;
    }
    h1 {
        font-size: 1.4em;
    }
    h2 {
        font-size: 1.3em;
    }
    h3 {
        font-size: 1.2em;
    }
    h4 {
        font-size: 1.1em;
    }
    .container > h5:nth-child(2) {
        margin-top:-15px;
        font-size: 1em;
    }
    small {
        font-size: 0.7em;
    }
    .title h1 {
        margin-top: 5px;
        font-size: 1.3em;
    }
    .title h5 {
        margin-top:-15px;
        font-size: .9em;
    }
    nav ul {
        font-size: 0.9em;
    }
    ul.posts {
        padding-left: 10px;
    }
    ul.posts li {
        small { font-size: .8em;  }
        a     { font-size: 1.2em; }
        padding-bottom: 0;
    }
    .footnotes {
        font-size: 0.6em;
    }
    .links a {
        font-size: 1em;
    }
    .language {
        font-size: 1.2em;
        margin-top: 0px;
    }
    .video_container {
        max-width: 100%;
        width: $mobile_video_width;
        height: $mobile_video_width * $video_ratio;
    }
    .bottomname {
        font-size: 0.7em;
        padding-top: 13px;
    }
}

/* Paragraph and font family */
p, h1, h2, h3, h4, h5, small, a, nav ul, footer ul, li, th, td {
    font-family: 'Segoe UI', 'SegoeUI', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
}

div {
    text-align: justify;
    text-justify: inter-word;
}
div.title {
    border-bottom: 1.2px solid $hl;
}
div.footnotes, footer  {
    border-top: 1.2px solid $hl;
}

figcaption p {
    font-size: 1.2em;
}

/* Title */
.title h1 {
    color: #123855;
    white-space: nowrap;
}
.title a:hover {
    text-decoration: none;
}
.title h5 {
    margin-bottom: $home_vertical_spacing;
    color: #12385573;
}

/* Hyperlinks */
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* Quotes */
blockquote {
    padding: 5px 50px ;
    background: #fafafa;
    position: relative;
    border-radius: 10px;
    border-color: rgb(136, 136, 136);
    p {
        font-size: 1.5em;
        text-align: center;
        font-family: cursive;
    }
}

/* Subtitle, date in posts */
.container > h5:nth-child(2), ul.posts li small {
    color: $subtitle;
}

/* Navigation bar*/
nav .navbar ul {
    font-weight: bold;
    li {
        padding-right: $home_vertical_spacing;
    }
}
nav ul, footer ul {
    padding-left: 0px;
    list-style: none;
    li {
        display: inline;
    }
}
nav a {
    color: $home_links;
}
nav a:hover {
    color: black;
    text-decoration: none;
}
.floatright {
    float: right;
}
.floatleft {
    float: left;
}

/* Footnotes */
.footnotes {
    color: #555555;
}

/* Footer */
.bottomname {
    opacity: 0.4;
}
.icon {
    opacity: 0.3;
}

/* Language selector */
.links a {
    float: left;
    color: $footer_links;
    margin-right: 7px;
}
.language  {
    float: right;
}
a.it:lang(it), a.en:lang(en) {
    opacity: 0.4;
}

/* Home posts list */
ul.posts {
    margin-top: $home_vertical_spacing;
    margin-bottom: $home_vertical_spacing;
}
ul.posts li {
    list-style: none;
}
ul.posts a {
    display: block;
    font-weight: bold;
    color: $home_links;
}

/* Responsive images */
.responsive {
    width: 100%;
    height: auto;
}
.responsive:hover {
    cursor: pointer;
}

/* Sup/sub line height fix */
sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}
sub {
    top: 0.4em;
}

/* Misc */
.centerbigtext {
    text-align: center;
}
