<!DOCTYPE html>
<html>

<html lang="{{ page.lang }}">

<head>
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="shortcut icon" type="image/svg" href="/media/icons/favicon.svg" />
</head>

<body>
    <nav>
        <ul>
            <div class="floatleft">
                <li><a href="{{ page.lang | replace: 'it', '/index_it' | replace: 'en', '/'}}">Blog 📖</a></li>
                <li><a href="{{ page.lang | replace: 'it', '/about/index_it' | replace: 'en', '/about'}}">About 👤</a></li>
            </div>
            <div class="floatright">
                <li><a href="{{ page.lang | replace: 'it', '/rss/index_it' | replace: 'en', '/rss'}}">Feed 📣</a></li>
            </div>
        </ul>
    </nav>

    <div class="title">
        <h1>A pile of endless side projects</h1>
        <h5>A tiny blog on stuff I do</h5>
    </div>

    <div class="container">
        {{ content }}
    </div>

    <footer>
        <ul class="language">
            {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
            {% for page in pages %}
            <li>
                <a href="{{ page.url }}"
                    class="{{ page.lang }}">{{ page.lang | replace: 'it', '🇮🇹' | replace: 'en', '🇬🇧'}}</a>
            </li>
            {% endfor %}
        </ul>
        <ul class="language">
            {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
            {% for post in posts %}
            <li>
                <a href="{{ post.url }}"
                    class="{{ post.lang }}">{{ post.lang | replace: 'it', '🇮🇹' | replace: 'en', '🇬🇧'}}</a>
            </li>
            {% endfor %}
        </ul>
        <ul class="links">
            <li>
                <a href="https://github.com/albertosantagostino"><img src='/media/icons/github_logo.png'
                        style='vertical-align: middle' height="20px" /></a>
                <a href="https://www.linkedin.com/in/alberto-santagostino-4bb081b1"><img
                        src='/media/icons/linkedin_logo.png' style='vertical-align: middle'
                        height="20px" /></a>
            </li>
        </ul>
    </footer>
</body>

</html>